build/bin
node_modules
frontend/dist
__pycache__
.idea
.vs
*.pth
*.st
*.safetensors
*.bin
/config.json
/cache.json
/presets.json
/frontend/stats.html
/frontend/package.json.md5
/py310
*.zip
/cmd-helper.bat
/install-py-dep.bat
/backend-python/wkv_cuda
*.exe
*.old
.DS_Store
*.log.*
*.log
train_log.txt
finetune/json2binidx_tool/data
/wsl.state
/components
