build/bin
node_modules
frontend/dist
__pycache__
.idea
.vs
*.pth
*.st
*.safetensors
*.bin
*.mid
/config.json
/cache.json
/durable.json
/presets.json
/frontend/stats.html
/frontend/package.json.md5
/py310
*.zip
/cmd-helper.bat
/install-py-dep.bat
/backend-python/wkv_cuda
/backend-python/rwkv5
/backend-python/rwkv6
/backend-python/wkv7s
/backend-python/rwkv_pip/wkv_cuda.pyd
/backend-python/rwkv_pip/rwkv5.pyd
/backend-python/rwkv_pip/rwkv6.pyd
/backend-python/rwkv_pip/wkv7s.pyd
*.exe
*.old
.DS_Store
*.log.*
*.log
train_log.txt
finetune/json2binidx_tool/data
/wsl.state
/components
error.txt
